/*
***************************************************首页*****************************************************
*/
#aside{
    margin-top:7px;
    position:fixed;
    width:200px;
    background:#333;
    font: 14px/18px arial, helvetica, verdana, sans-serif;
    color: #fff;
}
#aside ul li {
    list-style:none;
    line-height:18px;
    display:block;
    margin:.5em 0;
}
#aside nav ul li .active{
    background:#000;
}
#aside ul li a{
    color:#fff;
}
#aside ul li a:link,#aside ul li a:visited{
    background:#333;
}
#aside ul li a:hover,#aside ul li a:active{
    background:#000;
}
.index{
    margin-top:7px;
    margin-left:7px;
    padding-bottom:3px;
    border-bottom:1px dashed #aaa;
    width:85%;
}
.book{
    float:left;
    margin:7px;
    width:182px;
    height:280px;
    border:1px solid #ddd;
}
.book a img{
    width:180px;
    height:190px;
}
.book a span{
    padding:0 15px;
    display:block;
    margin:3px;
    color:#000;
}
.book span mark{
    padding:0 20px;
    color:red;
}
.book span s{
    float:right;
    margin-right:40px;
}

/*
***************************************************登录页面*****************************************************
 */
#login{
    padding:0;
    margin:0;
}
#login form{
    position:absolute;
    width:800px;
    height:300px;
    border:1px solid #ddd;
    top:150px;
    left:400px;
}
#login form .loginLeft{
    float:left;
    width:470px;
    height:300px;
}
#login form .loginRight{
    height:150px;
    margin:75px;
}
#login form .loginRight .form-group label{
    font-family: Verdana, Aril, sans-serif;
    color: #111;
}
#login form .loginRight .form-group input[type=text]{
    width:17em;
}
#login form .loginRight .form-group input[type=password]{
    width:17em;
}
#login form .loginRight .form-group input[type=checkbox]{
    width:1em;
    height:1em;
    float:left;
    margin-right:.3em;
}
#login form .loginRight .form-group span{
    float:right;
    display:inline-block;
    margin-right:1.5em;
}
#login form .loginRight .form-group button{
    width:17em;
}
/*
***************************************************注册页面*****************************************************
*/
#register{
    margin:0;
    padding:0;
    min-width:570px;
}
#register .title{
    display:block;
    margin:0px auto;
    width:40em;
    border-bottom:1px solid #ddd;
}
#register .title span.right{
    float:right;
    font-family: Georgia, Aril, sans-serif;
}
#register .form{
    margin:3% auto;
    width:350px;
}
#register .form .input-group{
    margin-top:1.4em;
}
#register .form .input-group input{
    width:17em;
}
#register .form .input-group span{
    width:6em;
}
#register .form .input-group span a{
    font: 9pt/12pt georgia;
}
#register .form .input-group input[type=checkbox]{
    float:left;
    width:1em;
    height:1em;
    margin-right:.3em;
}
#register .form .input-group button{
    width:23em;
    height:2.5em;
}

/*
***************************************************book详细信息页面*****************************************************
*/
.detail{
    border:1px solid #ddd;
}
.detail .img-left{
    float:left;
}
.detail .img-left nav{
    background:#fff;
    height:80px;
}
.detail .img-left nav ul li{
    list-style:none;
    float:left;
}
.detail .img-left nav ul li a img{
    width:70px;
    height:70px;
    border:1px solid #fff;
}
.detail .img-left nav ul li img:hover{
    border:1px solid red;
}

 .information{
     width:900px;
     margin-top:20px;
}
.information p{
    font: 12pt/14pt georgia;
    color:#666;
}
.information p.price{
    display:block;
    margin-top:40px;
    margin-bottom:20px;
}
.information p .right{
    float:right;
    margin-right:20px;
}
.information p.service{
    display:block;
    margin-top:40px;
    margin-bottom:40px;
}
.information .counter input{
    font: 14px/16px arial, helvetica, verdana, sans-serif;
    width:50px;
    height:40px;
    border-right:none;
}
.information .counter span{
    display:block;
    float:left;
    text-align:center;
    border:1px solid #aaa;
    width:25px;
    height:20px;
}
.information .counter span:nth-of-type(1){
    border-bottom:none;
}
.information .counter span:hover{
    background-color:#999;
}
.information p.right span{
    display:inline-block;
    margin-right:20px;
}
.information p.right span a{
    color:#fff;
}
.information p.prompt{
    display:block;
    font: 12px/16px arial, helvetica, verdana, sans-serif;
    color: #555;
    margin-top:50px;
}
/*
***************************************************购物车页面*****************************************************
*/
#shopping{
    padding:0;
    margin:0;
}
.shoppingCar{

}
.shoppingCar .table{

}
.shoppingCar .table .thead{
    background:#eee;
}
.shoppingCar .table .thead span{
    text-align:center;
    width:120px;
    display:inline-block;
    font: 14px/18px arial, helvetica, verdana, sans-serif;
    margin:10px 20px;
}
.shoppingCar .table .thead span:nth-of-type(2){
    width:200px;
}
.shoppingCar .table .tbody span{
    vertical-align:middle;
    text-align:center;
    width:120px;
    display:inline-block;
    font: 14px/18px arial, helvetica, verdana, sans-serif;
    margin:5px 20px;
}
.shoppingCar .table .tbody span:nth-of-type(2){
    width:50px;
    margin:5px 10px;
}
.shoppingCar .table .tbody span img{
    float:left;
    margin:2px;
}
.shoppingCar .table .tbody span a{
    clear:both;
    margin:2px;
    vertical-align:middle;
}
.shoppingCar .table .tbody span i{
    display:inline-block;
    border:1px solid #999;
    text-align:center;
    width:1.7em;
    height:1.7em;
    margin-top:-.2em;
}
.shoppingCar .table .tbody span i:nth-of-type(1){
    border-right:none;
}
.shoppingCar .table .tbody span i:nth-of-type(2){
    border-left:none;
}
.shoppingCar .table .tbody span i:hover{
    color:red;
}
.shoppingCar .table .tbody span input[type=text]{
    height:1.7em;
    width:2.5em;
    text-align:center;
}

.shoppingCar .tbottom{
    padding:15px 0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin-top:20px;
}
.shoppingCar .tbottom .left{
    display:inline-block;
    margin-left:50px;
}
.shoppingCar .tbottom .right{
    display:inline-block;
    float:right;
    margin-right:120px;
}
.shoppingCar .tbottom span{
    vertical-align:middle;
    text-align:center;
    display:inline-block;
    font: 14px/18px arial, helvetica, verdana, sans-serif;
    margin:5px 20px;
}
.shoppingCar .tbottom span.right a{
    color:#fff;
}
